:root {
	--rz-icon-size: 24px;
	--rz-base-50: #ffffff;
	--rz-base-100: #f6f7fa;
	--rz-base-200: #e9edf0;
	--rz-base-300: #d9e1ea;
	--rz-base-400: #87a4c4;
	--rz-base-500: #7293b6;
	--rz-base-600: #466791;
	--rz-base-700: #395374;
	--rz-base-800: #30445f;
	--rz-base-900: #2b3a50;
	--rz-primary: #445f7b;
	--rz-primary-light: #546c86;
	--rz-primary-lighter: #445f7b55;
	--rz-primary-dark: #3e566f;
	--rz-primary-darker: #394e64;
	--rz-on-primary: #ffffff;
	--rz-on-primary-light: #ffffff;
	--rz-on-primary-lighter: #c7ced8;
	--rz-on-primary-dark: #ffffff;
	--rz-on-primary-darker: #ffffff;
	--rz-secondary: #08a88a;
	--rz-secondary-light: #39b094;
	--rz-secondary-lighter: #08a88a55;
	--rz-secondary-dark: #12977d;
	--rz-secondary-darker: #17876f;
	--rz-on-secondary: #ffffff;
	--rz-on-secondary-light: #ffffff;
	--rz-on-secondary-lighter: #9bd4c3;
	--rz-on-secondary-dark: #ffffff;
	--rz-on-secondary-darker: #ffffff;
	--rz-success: #198754;
	--rz-success-light: #389262;
	--rz-success-lighter: #19875455;
	--rz-success-dark: #1b7a4c;
	--rz-success-darker: #1b6d45;
	--rz-on-success: #ffffff;
	--rz-on-success-light: #ffffff;
	--rz-on-success-lighter: #95c3a6;
	--rz-on-success-dark: #ffffff;
	--rz-on-success-darker: #ffffff;
	--rz-danger: #d64d42;
	--rz-danger-light: #dc5f51;
	--rz-danger-lighter: #d64d4255;
	--rz-danger-dark: #c1473c;
	--rz-danger-darker: #ac4137;
	--rz-on-danger: #ffffff;
	--rz-on-danger-light: #ffffff;
	--rz-on-danger-lighter: #f3a99c;
	--rz-on-danger-dark: #ffffff;
	--rz-on-danger-darker: #ffffff;
	--rz-warning: #fab029;
	--rz-warning-light: #fcb742;
	--rz-warning-lighter: #fab02955;
	--rz-warning-dark: #e19f28;
	--rz-warning-darker: #c88d26;
	--rz-on-warning: #ffffff;
	--rz-on-warning-light: #ffffff;
	--rz-on-warning-lighter: #ffd799;
	--rz-on-warning-dark: #ffffff;
	--rz-on-warning-darker: #ffffff;
	--rz-info: #3ba5fc;
	--rz-info-light: #59adfd;
	--rz-info-lighter: #3ba5fc55;
	--rz-info-dark: #3995e2;
	--rz-info-darker: #3685c9;
	--rz-on-info: #ffffff;
	--rz-on-info-light: #ffffff;
	--rz-on-info-lighter: #aed1fe;
	--rz-on-info-dark: #ffffff;
	--rz-on-info-darker: #ffffff;
}

:root {
	--rz-button-border-radius: 8px;
	--rz-button-hover-shadow: none;
	--rz-button-focus-shadow: none;
	--rz-button-active-shadow: none;
	--rz-button-overlay-color: rgba(0, 0, 0, 0.1);
	--rz-button-hover-gradient: linear-gradient(var(--rz-button-overlay-color), var(--rz-button-overlay-color));
	--rz-button-focus-gradient: linear-gradient(var(--rz-button-overlay-color), var(--rz-button-overlay-color));
	--rz-button-active-gradient: linear-gradient(var(--rz-button-overlay-color), var(--rz-button-overlay-color));
}

:root {
	--rz-splitbutton-border-radius: var(--rz-border-radius);
}

:root {
	--rz-header-background-color: #1b324e;
	--rz-header-border: var(--rz-border-base-800);
}

:root {
	--rz-profile-menu-item-hover-background-color: var(--rz-primary);
}

:root {
	--rz-profile-menu-border-radius: 6px;
	--rz-menu-border-radius: var(--rz-profile-menu-border-radius);
	--rz-menu-item-border-radius: var(--rz-profile-menu-border-radius);
	--rz-context-menu-padding: var(--rz-profile-menu-border-radius);
	--rz-menu-item-hover-background-color: var(--rz-primary);
}

:root {
	--rz-sidebar-toggle-border: none;
}

:root {
	--rz-sidebar-width: 250px;
	--rz-sidebar-label-color: #ffffff44;
	--rz-sidebar-border-right: var(--rz-border-base-800);
	--rz-sidebar-background-color: #1e293b;
	--rz-sidebar-background-color-top: #1b324e;
	--rz-sidebar-background-color-down: #122236;
	--rz-sidebar-color: #ffffffdd;
}

:root {
	--rz-panel-menu-background-color: var(--rz-sidebar-background-color);
	--rz-panel-menu-hover-background-color: rgba(0, 0, 0, 0.07);
	--rz-panel-menu-item-padding: 0 0 0 18px;
	--rz-panel-menu-item-border: 0px solid #2c394d;
	--rz-panel-menu-item-active-background-color: rgba(0, 0, 0, 0.15);
	--rz-panel-menu-item-background-color: rgba(125, 173, 249, 0.03);
	--rz-panel-menu-item-2nd-level-padding: 14px 18px;
	--rz-panel-menu-item-2nd-level-offset: 60px;
	--rz-panel-menu-item-2nd-level-hover-background-color: rgba(125, 173, 249, 0.07);
	--rz-panel-menu-item-2nd-level-background-color: rgba(125, 173, 249, 0.03);
	--rz-panel-menu-item-2nd-level-active-background-color: rgba(125, 173, 249, 0.1);
	--rz-panel-menu-item-3rd-level-hover-background-color: rgba(125, 173, 249, 0.07);
	--rz-panel-menu-item-3rd-level-active-background-color: rgba(125, 173, 249, 0.1);
	--rz-panel-menu-icon-width: 28px;
	--rz-panel-menu-icon-height: 28px;
	--rz-panel-menu-icon-margin: 0 0.8rem 0 0;
	--rz-panel-menu-icon-2nd-level-icon-size: 24px;
}

:root {
	--rz-scrollbar-background-color: transparent;
	--rz-scrollbar-color: #ffffff33;
	--rz-scrollbar-size: 12px;
}

:root {
	--rz-dialog-title-background-color: #2d415c;
	--rz-dialog-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.4);
}

:root {
	--rz-text-selection-background-color: #ffffff15;
	--rz-text-selection-color: inherit;
}

:root {
	--lord-icon-primary: var(--rz-white);
	--lord-icon-secondary: var(--rz-secondary-light);
	--lord-icon-background: #2d405a;
	--lord-icon-hoverlayer: #ffffff05;
}

:root {
	--rz-grid-border-radius: 10px;
	--rz-grid-header-line-height: 1.5rem;
	--rz-grid-header-cell-border: var(--rz-border-normal);
	--rz-grid-header-cell-border-bottom: var(--rz-border-normal);
	--rz-grid-right-cell-border: var(--rz-border-disabled);
	--rz-grid-bottom-cell-border: var(--rz-border-disabled);
	--rz-grid-stripe-background-color: var(--rz-base-900);
}

:root {
	--rz-notification-padding: 1rem 1rem;
	--rz-notification-border-radius: 20px;
	--rz-notification-icon-margin: 0 0.625rem 0 0;
	--rz-notification-success-background-color: #255451cc;
	--rz-notification-error-background-color: #64414bcc;
	--rz-notification-warning-background-color: #706243cc;
	--rz-notification-info-background-color: #315e89cc;
	--rz-notification-success-color: var(--rz-on-success-lighter);
	--rz-notification-error-color: var(--rz-on-danger-lighter);
	--rz-notification-warning-color: var(--rz-on-warning-lighter);
	--rz-notification-info-color: var(--rz-on-info-lighter);
	--rz-notification-info-icon-color: var(--rz-on-info-lighter);
	--rz-notification-success-icon-color: var(--rz-on-success-lighter);
	--rz-notification-error-icon-color: var(--rz-on-danger-lighter);
	--rz-notification-warning-icon-color: var(--rz-on-warning-lighter);
}

.rz-body {
	background-color: var(--rz-body-background-color);
}

.rz-panel-menu .rz-navigation-item-link {
	color: #ffffffdd;
	font-weight: normal;
}

.rz-panel-menu .rz-navigation-item-text {
	text-wrap: nowrap;
}

ul.rz-profile-menu {
	background-color: transparent;
	border-left: none;
}

@media (max-width: 576px) {
	ul.rz-profile-menu .rz-navigation-item-icon-children {
		display: none !important;
	}
}

.rz-dialog {
	top: 100px;
}

.rz-dialog-mask {
	backdrop-filter: blur(3px);
	background: linear-gradient(#00000000, #00000077);
	opacity: 1;
}

.rz-button {
	position: relative;
	overflow: hidden
}

.rz-spinner-button {
	position: absolute;
}

.rz-button:not(.rz-state-disabled):before {
	content: "";
	position: absolute;
	inset: 0;
	background-position: center;
	transition: background.8s, opacity.8s;
	opacity: 0;
	background: radial-gradient(circle, currentcolor 1%, transparent 1%)center / 15000%
}

.rz-button:not(.rz-state-disabled):active:before {
	transition: background 0s, opacity 0s;
	background-size: 100%;
	opacity: .1
}

.rz-button.rz-variant-text.rz-primary .rzi {
	color: var(--rz-on-primary-dark);
}

.rz-button.rz-variant-text.rz-secondary .rzi {
	color: var(--rz-on-secondary-dark);
}

.rz-button.rz-variant-text.rz-success .rzi {
	color: var(--rz-on-success-dark);
}

.rz-button.rz-variant-text.rz-danger .rzi {
	color: var(--rz-on-danger-dark);
}

.rz-button.rz-variant-text.rz-warning .rzi {
	color: var(--rz-on-warning-dark);
}

.rz-button.rz-variant-text.rz-info .rzi {
	color: var(--rz-on-info-dark);
}

.rz-button.rz-variant-text.rz-dark .rzi {
	color: var(--rz-on-primary-dark);
}

.rz-button.rz-variant-text.rz-light .rzi {
	color: var(--rz-white);
}

.rz-navigation-item-wrapper {
	border-radius: 4px;
}

.rz-popup .rz-button.rz-variant-text .rzi {
	color: var(--rz-primary) !important;
}

.rz-paginator {
	border-top: var(--rz-border-normal);
}

.rz-group-header {
	border-bottom: var(--rz-border-normal);
}

.rz-datatable-emptymessage {
	padding-right: 60px !important;
	text-align: center;
	height: 70px;
}

.rz-notification {
	top: 60px !important;
	right: 15px !important;
}

.rz-growl-title {
	display: block;
}

.rz-growl-message p {
	display: block;
	padding-left: 33px;
}

.rz-growl-item {
	backdrop-filter: blur(10px);
}

.rz-growl-icon-close {
	font-size: 18px;
}

.rz-alert {
	gap: 0px;
	padding: 16px 18px!important;
	border-radius: 16px;
}

.rz-alert .rz-button:not(:hover).rz-variant-text.rz-primary .rzi {
	color: var(--rz-primary-light);
}

.rz-alert .rz-button:not(:hover).rz-variant-text.rz-secondary .rzi {
	color: var(--rz-secondary-light);
}

.rz-alert .rz-button:not(:hover).rz-variant-text.rz-success .rzi {
	color: var(--rz-success-light);
}

.rz-alert .rz-button:not(:hover).rz-variant-text.rz-danger .rzi {
	color: var(--rz-danger-light);
}

.rz-alert .rz-button:not(:hover).rz-variant-text.rz-warning .rzi {
	color: var(--rz-warning-light);
}

.rz-alert .rz-button:not(:hover).rz-variant-text.rz-info .rzi {
	color: var(--rz-info-light);
}

.rz-alert .rz-button.rz-variant-text.rz-dark .rzi {
	color: var(--rz-white);
}

.rz-alert .rz-button.rz-variant-text.rz-light .rzi {
	color: var(--rz-white);
}

.rz-alert .rz-button .rzi {
	font-size: 20px;
}

.rz-sidebar .rz-navigation-item-wrapper a {
	height: 45px !important;
}

.rz-sidebar .rzi.rz-navigation-item-icon-children {
	width: 45px;
	height: 45px;
	font-size: 20px;
	color: #788396;
}

.rz-profile-menu .rz-navigation-item-link {
	height: 36px !important;
}

.rz-profile-menu .rzi.rz-navigation-item-icon-children {
	font-size: 20px;
}

.logo {
	content: url("/images/logos/app-dark.svg");
	width: fit-content;
}

.login-bg {
	background-attachment: fixed !important;
	background: radial-gradient(#75879e50, #001F40ff);
	background-size: cover;
}

.sidebar-gradient-login {
	background-image: radial-gradient(circle at 4rem 4rem, var(--rz-sidebar-background-color-top) 10%, var(--rz-sidebar-background-color-down) 80%);
	position: relative;
}

.sidebar-gradient-menu {
	background-image: radial-gradient(circle at 4rem 4rem, var(--rz-sidebar-background-color-top) 20%, var(--rz-sidebar-background-color-down) 80%);
	position: relative;
}

hr {
	border: none;
	border-top: 0.1px solid #ffffff22;
}
