@namespace Hephaestus.Frontend.Layouts
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<diz style="display: flex; align-items: center; justify-content: center;">
	<div style="display: flex; max-width: 1000px; padding: 60px; flex-direction: column">
		@Body
	</div>
</diz>