@page "/"
@page "/inicio"
@page "/home"

@namespace Hephaestus.Frontend.Application.Pages

<PageNavigation Code="0100" Title="@($"{AppTexts[VariablesService.SaudationCode()]}, {UserService.CurrentUser.FirstName}.")" Subtitle="@AppTexts["0054"]">

	<RadzenAlert AlertStyle="AlertStyle.Info" Shade="Shade.Lighter" Variant="Variant.Flat" Icon="auto_awesome" Title="Boas-vindas!" class="welcome-banner">
		<p>
			Seja bem-vindo(a) ao novo Sistema de Controle da Produção! Estamos felizes em tê-lo(a) aqui.<br>
			Para navegar entre as diversas áreas do sistema e aproveitar suas funcionalidades, utilize o menu lateral.<br>
			Clique nos botões abaixo para ver um guia rápido ou para conferir tudo que há de novo no SCP 2.0!
		</p>
		<RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Gap="10px">
			<RadzenButton Text="Fazer um Tour" ButtonStyle="ButtonStyle.Info" Shade="Shade.Default" Style="text-wrap: nowrap" />
			<RadzenButton Text="Novidades do Sistema" ButtonStyle="ButtonStyle.Info" Shade="Shade.Lighter" Style="text-wrap: nowrap" />
		</RadzenStack>
	</RadzenAlert>

	<PageNavigationGroup Text="@AppTexts["0056"]">
		<PageNavigationItem Code="0110" />
		<PageNavigationItem Code="0120" />
		<PageNavigationItem Code="0130" />
	</PageNavigationGroup>

	<PageNavigationGroup Text="@AppTexts["0057"]">
		<PageNavigationItem Code="0140" />
		<PageNavigationItem Code="0150" />
	</PageNavigationGroup>

</PageNavigation>