@namespace Hephaestus.Frontend.Application.Components

@if ((UserService.Preferences.FeatureAlert ?? 0) < VersionService.LocalVersion.Build) {

	<RadzenAlert AlertStyle="AlertStyle.Info" Shade="Shade.Lighter" Variant="Variant.Flat" Icon="auto_awesome" Close="@(() => UserService.FeatureAlertDismissAsync())" Title="@AppTexts["0064"]" class="home-banner">
		<p style="white-space: pre-wrap;">@AppTexts["0065"]</p>
		<RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Gap="10px">
			<RadzenButton Text="@AppTexts["0012"]" ButtonStyle="ButtonStyle.Info" Shade="Shade.Darker" Style="text-wrap: nowrap" />
		</RadzenStack>
	</RadzenAlert>

}