@namespace Hephaestus.Frontend.Layouts.TopBarButtons
@inherits Microsoft.AspNetCore.Components.ComponentBase

<div class="hamburguer-menu">
	<button type="button" class="rz-button rz-button-md rz-variant-text rz-primary rz-shade-default topbar-icon" @onclick="@OnClick" title="@AppText["0006"]" @oncontextmenu="@None">
		<span class="wrapper">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</span>
	</button>
</div>

@code {

	[Parameter]
	public EventCallback<EventArgs> Click { get; set; }

	public async System.Threading.Tasks.Task OnClick(EventArgs args) {
		await Click.InvokeAsync(args);
	}

	private void None() { }

}