@page "/politica"
@layout DocumentLayout
@attribute [AllowAnonymous]

<PageTitle>Política de Privacidade</PageTitle>

<img style="height:48px" class="logo" />
<br />

<h1>Política de Privacidade</h1>
<p>Esta Política de Privacidade descreve como a SIW Kits Eólicos Ltda. coleta, utiliza e protege as informações fornecidas pelos usuários do Software de Controle de Produção.</p>
<br />

<h2>1. Plataforma de Registro e Autenticação:</h2>
<p>O registro e autenticação dos usuários são realizados por meio da plataforma Microsoft Entra. O tratamento de dados dos usuários, nesse contexto, é regido pela Política de Privacidade da Microsoft, acessível no link: Política de Privacidade da Microsoft.</p>
<br />

<h2>2. Coleta de Dados:</h2>
<p>O Sistema de Controle de Produção coleta dados dos usuários, incluindo, mas não se limitando a: nome, e-mail, função, cargo, unidade fabril, foto de perfil, etc. Esses dados são coletados para interesses legítimos da SIW Kits Eólicos Ltda., contribuindo para a eficiência operacional e melhorias contínuas no software.</p>
<br />

<h2>3. Uso dos Dados:</h2>
<p>Os dados coletados são utilizados internamente pela SIW Kits Eólicos Ltda. para personalizar a experiência do usuário, fornecer suporte técnico, aprimorar o software e garantir a segurança do sistema. A empresa compromete-se a não vender, compartilhar ou divulgar os dados dos usuários a terceiros sem seu consentimento, exceto quando exigido por lei.</p>
<br />

<h2>4. Segurança dos Dados:</h2>
<p>A SIW Kits Eólicos Ltda. adota medidas de segurança adequadas para proteger os dados dos usuários contra acesso não autorizado, alteração, divulgação ou destruição não autorizada. A empresa utiliza práticas padrão da indústria para proteger as informações coletadas.</p>
<br />

<h2>5. Retenção de Dados:</h2>
<p>Os dados dos usuários serão retidos pelo período necessário para cumprir os propósitos descritos nesta Política de Privacidade, a menos que uma retenção mais longa seja exigida ou permitida por lei.</p>
<br />

<h2>6. Consentimento:</h2>
<p>Ao utilizar o Software de Controle de Produção, os usuários consentem com a coleta e uso de suas informações conforme descrito nesta Política de Privacidade.</p>
<br />

<h2>7. Alterações na Política:</h2>
<p>A SIW Kits Eólicos Ltda. reserva-se o direito de modificar esta Política de Privacidade a qualquer momento. Alterações serão efetivas quando publicadas no software ou notificadas de outra forma.</p>
<br />

<h2>8. Contato:</h2>
<p>Para questões relacionadas a esta Política de Privacidade, entre em contato com a SIW Kits Eólicos Ltda. através dos canais de suporte disponíveis.</p>
<br />

<p>Última atualização: 06 de dezembro de 2023</p>