@page "/termos"
@layout DocumentLayout
@attribute [AllowAnonymous]

@namespace Application.Pages

<PageTitle>Termos de Uso</PageTitle>

<img style="height:48px" class="logo" />
<br />

<h1>Termos de Uso</h1>
<p>Bem-vindo ao Software de Controle de Produção SIW Kits Eólicos, um componente integrado ao Omie ERP para otimizar o fluxo de produção da SIW Kits Eólicos Ltda. Antes de utilizar este software, por favor, leia atentamente os seguintes Termos de Uso. Ao acessar ou utilizar o software, você concorda em cumprir e ficar vinculado a estes termos.</p>
<br />

<h2>1. Licença de Uso:</h2>
<p>1.1 A SIW Kits Eólicos Ltda. concede a você uma licença limitada, não exclusiva, intransferível e revogável para utilizar o Software de Controle de Produção exclusivamente para os fins comerciais da sua empresa. Esta licença está condicionada à sua manutenção de uma assinatura ativa do Omie ERP e à conformidade contínua com os Termos de Serviço do Omie.</p>
<p>1.2 A licença não autoriza a redistribuição, reprodução, modificação ou criação de trabalhos derivados do software. Qualquer uso não autorizado resultará na rescisão imediata da licença.</p>
<br />

<h2>2. Responsabilidades do Usuário:</h2>
<p>2.1 Você é responsável por manter a confidencialidade das suas credenciais de acesso e garantir que apenas usuários autorizados utilizem o software em conformidade com estes termos. Além disso, concorda em informar imediatamente a SIW Kits Eólicos Ltda. sobre qualquer uso não autorizado ou violação de segurança.</p>
<p>2.2 É de sua responsabilidade fornecer informações precisas e atualizadas para a configuração e operação eficaz do software. A SIW Kits Eólicos Ltda. não se responsabiliza por quaisquer consequências decorrentes de informações imprecisas ou desatualizadas.</p>
<br />

<h2>3. Integração com o Omie ERP:</h2>
<p>3.1 Este software é um componente integrado ao Omie ERP. A SIW Kits Eólicos Ltda. não se responsabiliza por quaisquer problemas decorrentes de incompatibilidades ou atualizações não autorizadas do Omie ERP. Recomendamos que você mantenha seu sistema Omie ERP atualizado para garantir uma integração eficiente.</p>
<br />

<h2>4. Propriedade Intelectual:</h2>
<p>4.1 O Software de Controle de Produção é propriedade exclusiva da SIW Kits Eólicos Ltda. e é protegido por leis de direitos autorais e outras leis de propriedade intelectual. Você reconhece e concorda que qualquer uso não autorizado do software constitui uma violação dos direitos de propriedade intelectual da SIW Kits Eólicos Ltda.</p>
<p>4.2 Você concorda em não reproduzir, distribuir, modificar, criar trabalhos derivados ou explorar comercialmente o software sem a permissão expressa por escrito da SIW Kits Eólicos Ltda.</p>
<br />

<h2>5. Suporte Técnico:</h2>
<p>5.1 A SIW Kits Eólicos Ltda. fornecerá suporte técnico para o Software de Controle de Produção de acordo com os termos do contrato de suporte associado. O suporte técnico visa garantir o desempenho adequado do software e a resolução de problemas técnicos.</p>
<br />

<h2>6. Rescisão:</h2>
<p>6.1 A SIW Kits Eólicos Ltda. reserva-se o direito de rescindir sua licença de uso do software a qualquer momento, com ou sem motivo. Em caso de rescisão, você concorda em interromper imediatamente o uso do software e destruir todas as cópias em sua posse.</p>
<p>6.2 A rescisão não exime você de quaisquer obrigações financeiras decorrentes de assinaturas ativas ou compromissos contratuais existentes.</p>
<br />

<h2>7. Alterações nos Termos:</h2>
<p>7.1 A SIW Kits Eólicos Ltda. reserva-se o direito de modificar estes Termos de Uso a qualquer momento. As alterações serão efetivas quando publicadas no software ou notificadas de outra forma. Recomendamos que você revise periodicamente estes termos para garantir que está ciente de quaisquer alterações.</p>
<br />

<p>Ao utilizar o Software de Controle de Produção, você reconhece e concorda com estes Termos de Uso. Se não concordar com estes termos, por favor, interrompa imediatamente o uso do software. Para dúvidas ou preocupações, entre em contato com o suporte técnico da SIW Kits Eólicos Ltda.</p>