@page "/versao"
@inject VersionService VersionService

<PageTitle>Notas da Versão</PageTitle>
<RadzenText Text="Notas da Versão" TextStyle="Radzen.Blazor.TextStyle.DisplayH3" TagName="Radzen.Blazor.TagName.Auto"></RadzenText>

@if (localVersion != null) {
	<h3>Local Version</h3>
	<p>Id: @localVersion.Build</p>
	<p>Name: @localVersion.Version</p>
}

<br />

@if (serverVersion != null) {
	<h3>Server Version</h3>
	<p>Id: @serverVersion.Build</p>
	<p>Name: @serverVersion.Version</p>
}

@code {

	private VersionInfo? serverVersion;
	private VersionInfo? localVersion;

	protected override async Task OnInitializedAsync() {

		try {

			localVersion = VersionService.GetLocalVersion();
			serverVersion = await VersionService.GetServerVersionAsync();

		} catch (AccessTokenNotAvailableException exception) {

			exception.Redirect();

		}

	}

}
