@namespace Hephaestus.Frontend.Application.Components
@inherits DataGridColumn<TItem>
@typeparam TItem

<RadzenDataGridColumn Property=@GetProperty() Title=@GetTitle() Width=@GetWidth() MinWidth=@GetWidth() Visible=@Visible OrderIndex=@Order UniqueID=@Property TItem=TItem>
	<Template Context="Item">
		@{
			var title = PropertyAccess.GetValue(Item, GetAltProperty()) is DateTime value1 ? value1.ToLocalTime() : PropertyAccess.GetValue(Item, GetAltProperty());
			var content = PropertyAccess.GetValue(Item, GetProperty()) is DateTime value2 ? value2.ToLocalTime().ToString(AppFormats[GetFormat()]) : PropertyAccess.GetValue(Item, GetProperty());
			<span class="rz-cell-data" title=@title>@content</span>
		}
	</Template>
</RadzenDataGridColumn>

@code {

	protected override string GetWidth() => Format switch {

		ColumnFormat.Short => Width ?? "140px",
		ColumnFormat.Medium => Width ?? "160px",
		ColumnFormat.Long => Width ?? "200px",
		ColumnFormat.Full => Width ?? "300px",
		_ => Width ?? "140px"

	};

	protected override string GetFormat() => Format switch {

		ColumnFormat.Short => "DateShort",
		ColumnFormat.Medium => "DateMedium",
		ColumnFormat.Long => "DateLong",
		ColumnFormat.Full => "DateFull",
		_ => "DateShort"

	};

}