@namespace Hephaestus.Frontend.Application.Components
@inherits DataGridColumn<TItem>
@typeparam TItem

<RadzenDataGridColumn Property=@GetProperty() Title=@GetTitle() Width=@GetWidth() MinWidth=@GetWidth() Visible=@Visible OrderIndex=@Order UniqueID=@Property TItem=TItem>
	<Template Context="Item">
		@{
			var title = PropertyAccess.GetValue(Item, GetAltProperty());
			var content = PropertyAccess.GetValue(Item, GetProperty());
			<span class="rz-cell-data" title=@title>@content</span>
		}
	</Template>
</RadzenDataGridColumn>

@code {

	protected override string GetWidth() => Format switch {

		ColumnFormat.Short => Width ?? "100px",
		ColumnFormat.Medium => Width ?? "120px",
		ColumnFormat.Long => Width ?? "140px",
		ColumnFormat.Full => Width ?? "200px",
		_ => Width ?? "120px"

	};

}