@namespace Hephaestus.Frontend.Application.Components
@inherits DataGridColumn<TItem>
@typeparam TItem

<RadzenDataGridColumn Property=@($"{Property}.{AppFields["Name"]}") Title=@GetTitle() Width=@GetWidth() MinWidth=@GetWidth() Visible=@Visible OrderIndex=@Order UniqueID=@Property TItem=TItem>
	<Template Context="Item">
		@{
			var photo = PropertyAccess.GetValue(Item, $"{Property}.Photo").ToString();
			var name = PropertyAccess.GetValue(Item, $"{Property}.{AppFields["Name"]}");
			<div style="display: flex; align-items: center; gap: 8px">
				<div>
					<RadzenImage Path=@photo Style="width:24px;height:24px" title=@name class="rounded-circle" />
				</div>
				<div style="overflow: hidden; text-overflow: ellipsis">
					<span title=@name>@name</span>
				</div>
			</div>
		}
	</Template>
</RadzenDataGridColumn>

@code {

	protected override string GetTitle() => @AppColumns[Property.Replace("Data", string.Empty)];
	protected override string GetWidth() => Width ?? "180px";

}